/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "foundation_and_overrides.scss";

image.full {
  width: 100%;
}

.headline {
  text-align: center;
  margin: 50px 0;
}

h1 {
  margin-bottom: 0;
}
h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

ul.memories {
  a.memory {
    display: block;
    border: 1px solid #ededed;
    padding: 10px;
    color: #333;
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 20px;
    &:hover {
      background-color: #ededed;
    }
    .number {
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
      color: #999;
      font-size: 16px;
    }
  }

}

.toggle {
  text-align: center;
  margin-bottom: 20px;
  a {
    font-weight: bold;
  }
}

#memory-modal {
  img {
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.3em;
    &.comments {
      font-style: italic;
      margin-top: 10px;
    }
  }

  .controls {
    margin-top: 20px;
    a {
      font-size: 12px;
      color: #999;
      font-style: italic;
      &.prev {
        float: left;
      }
      &.next {
        float: right;
      }
    }
  }
}

#login {
  margin-top: 250px;
  label {
    font-weight: bold;
    font-size: 24px;
  }
  p {
    font-size: 12px;
    font-style: italic;
  }
  p.error {
    color: red;
    font-style: normal;
    font-weight: bold;
  }
}

ol.list {
  margin-left: 25px;
}
